<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout">
<body>

<div layout:fragment="content"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 80vh">

    <div class="card shadow-lg" style="width: 420px;">
        <div class="card-body p-4">

            <h3 class="text-center mb-4 fw-bold">
                Якщо аккаунт знайдено, лист для відновлення пароля був відправлений.
            </h3>
            <a class="btn" th:href="@{/}">До потужної хати</a>

        </div>
    </div>
</div>

</body>
</html>