<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout">
<body>

<div layout:fragment="content"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 80vh">

    <div class="card shadow-lg" style="width: 420px;">
        <div class="card-body p-4">

            <h3 class="text-center mb-4 fw-bold">
                Відновлення паролю
            </h3>
            <form th:action="@{/users/reset-password}"
                  method="POST">

                <div class="mb-3">
                    <label class="form-label">Новий пароль</label>
                    <input class="form-control"
                           placeholder="email"
                           name="email" />
                </div>

                <button type="submit"
                        class="btn btn-primary w-100 py-2 fw-semibold">
                    Змінити пароль
                </button>
            </form>

        </div>
    </div>
</div>

</body>
</html>