<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<div layout:fragment="content" class="container">
    <h1>Категорії</h1>
    <hr>
    <h2>Створити категорію</h2>
    <div >
        <form action="#" th:action="@{/categories/save}" th:object="${CategoryEntity} "
              method="POST" enctype="multipart/form-data">
            <input type="text" th:field="*{name}"
                   placeholder="Назва категорії" class="form-control mb-4 col-4 w-50">
            <input type="file" accept="image/*" th:field="*{image}"
                   placeholder="Картинка категорії" class="form-control mb-4 col-4 w-50">

            <button type="submit" class="btn btn-info col-2"> Зберегти категорію</button>
        </form>
    </div>
    <hr>
</div>
</html>